@use 'variables';

$breakpoints:(
	sm : 800px,
);

@mixin media-up($breakpoint){
	@media screen and (max-width: map-get($breakpoints,$breakpoint)) {
		@content;
	}
};

.comentarios {
	background: #f1f1f1;
	padding: 2.5rem 0 2.5rem 4.0625rem; //
	width: 90%;
	max-width: 62.5rem;
	margin: auto;
	text-align: center;
	border-radius: 0 0 1rem 1rem;
	
	@include media-up(sm){
		padding: 2.5rem 1.5rem 2.5rem 1.5rem;
	}


	&__header {
		margin-bottom: 2.5rem;
	}

	&__titulo {
		margin-bottom: 0.625rem;
	}

	&__slider {
		display: grid;
		grid-template-rows: 1fr;
		grid-auto-flow: column;
		gap: 1.25rem;
		overflow-x: auto;
		cursor: move;
		cursor: -webkit-grab;
		cursor: -moz-grab;
		user-select: none;
		padding-right: 1.25rem;
	}

	&__review {
		min-width: 25rem;
		padding-bottom: 0.625rem;
		position: relative;
		@include media-up(sm){
			min-width: 20rem;;
		}
	}

	&__contenedor-foto {
		position: relative;
		top: 2.5rem;
		margin-top: -2.5rem;
	}

	&__contenedor-textos {
		background: #fff;
		padding: 3.75rem 1.25rem 1.25rem 1.25rem;
		box-shadow: rgba(99, 99, 99, 0.2) 0rem 2rem 0.5rem 0rem;
		border-radius: 0.3125rem;
		display: flex;
		flex-direction: column;
		gap: 0.625rem;
	}

	&__foto {
		width: 5rem;
		height: 5rem;
		border-radius: 5rem;
	}

	&__texto {
		font-size: .875rem;
		color: #6f6f6f;
		margin-bottom: 1.25rem;
	}

	&__autor {
		color: variables.$color-primario;
		font-weight: 600;
		font-size: 0.875rem;
	}

	&__empresa {
		font-size: .875rem;
	}
}
