.footer {
	width: 90%;
	max-width: 62.5rem;
	margin: auto;
	text-align: center;
	padding: 2.5rem 0rem;

	&__titulo {
		margin-bottom: 0.625rem;
		font-size: 1.5rem;
	}

	&__subtitulo {
		margin-bottom: 2.5rem;
	}

	&__redes {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.25rem;
	}

	&__red {
		width: 4.375rem;
		height: 4.375rem;
		border-radius: 4.375rem;
		color: #fff;
		padding: 1.5rem;

		&--github {
			background: #000000;
		}
		&--linkedin {
			background: #0077b5;
		}
		&--instagram {
			background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
		}
		&--email {
			background: #656565;
		}
	}

	&__icono {
		width: 100%;
		height: 100%;
	}
}
