@use 'variables';

$breakpoints:(
	sm : 800px,
);

@mixin media-up($breakpoint){
	@media screen and (max-width: map-get($breakpoints,$breakpoint)) {
		@content;
	}
};

.hero {
	width: 90%;
	max-width: 62.5rem;
	margin: auto;
	min-height: 31.25rem;
	display: grid;
	grid-template-columns: 55% 45%;

	@include media-up(sm){
		display: block;
	}

	&__info {
		background: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 2.5rem 4.0625rem;
		@include media-up(sm){
			padding: 1.5rem 2.0625rem;
		}
	}

	&__header {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__titulo {
		font-size: 2.125rem;
		font-weight: 700;
		display: inline-block;
		position: relative;
		@include media-up(sm){
			font-size: 1.5rem;
		}
	}

	&__subtitulo {
		font-size: 1.875rem;
		font-weight: 700;
		margin: .625rem 0;
		color: variables.$color-primario;
	}

	&__cursor {
		display: none;
		height: 2.125rem;
		width: 2.125rem;
		color: #8b8b8b;
		position: absolute;
		top: 0.25rem;
		// left: 90px;
		// top: -40px;
		right: -1.875rem;
		&--visible {
			display: block;
		}

		&--active {
			animation: cursor 0.8s linear 0s infinite alternate;
		}
	}

	@keyframes cursor {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	&__cursor-icono {
		height: 100%;
		width: 100%;
	}

	&__resumen {
		line-height: 1.5rem;
		font-size: 1rem;
		color: variables.$color-texto-secundario;
		margin-bottom: 1.25rem;
	}

	&__redes {
		display: flex;
		gap: 0.625rem;
	}

	&__red {
		width: 2.5rem;
		height: 2.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.75rem;
		border-radius: 2.5rem;
		&--github {
			background: #000000;
		}
		&--linkedin {
			background: #0077b5;
		}
		&--instagram {
			color: #fff;
			background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
		}
		&--email {
			background: #656565;
		}
	}

	&__icono {
		width: 100%;
		height: 100%;
		color: #fff;
	}

	&__contenedor-foto {
		background: #ffffff;
		position: relative;
	}

	&__foto {
		vertical-align: top;
		width: 100%;
		border-radius: 7.5rem 0 0 0;
		@include media-up(sm){
			width: 55%;
			border-radius: 0 7.5rem 0 0;
		}
	}

	&__burbuja {
		background: #000;
		padding: 1.25rem;
		border-radius: 6.25rem;
		color: #fff;
		position: absolute;
		font-size: 0.875rem;
		font-weight: 600;
		text-align: center;
		user-select: none;
		box-shadow: rgba(100, 100, 111, 0.2) 0rem 0.4375rem 1.8125rem 0rem;
		bottom: -3.125rem;
		opacity: 0;

		&--naranja {
			transition: 1s ease-in-out all;
			width: 6.25rem;
			background: variables.$color-naranja;
			left: -3.125rem;
		}

		&--azul {
			transition: 1s ease-in-out all 0.2s;
			width: 12.5rem;
			background: variables.$color-primario;
			right: -3.125rem;
		}

		&--active-1 {
			transform: translateY(-6.25rem);
			opacity: 1;
			@include media-up(sm){
				transform: translateY(-1.25rem) translateX(13rem);
			}
		}

		&--active-2 {
			transform: translateY(-10.625rem);
			opacity: 1;
		}

		&--link {
			color: #ffffff;
		}
	}
}
